@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Introduction</h2>
        <p>
            Contoso University is a sample application that demonstrates 
            Entity Framework 6 in an ASP.NET MVC 5 web application 
            <strong>developed and testing using Visual Studio 2015</strong>.
        </p>
        <p>
            You may attempt to complete the following tasks using the prepared environment. 
            Feel free to use any resources you can find on the internet, but we would prefer 
            that you don't simply copy and paste a canned solution.
        </p>

        <hr />

        <h3>Task 1: Add an “age” field on the Student record.</h3>
        <p>The field should integrate properly and be visible on create/edit forms as well as the Students report. </p>
        <p><em>Don't forget to populate some sample data in this field before continuing on to the next task. <code>(e.g. 19, 20, 21, 22, 23, 24)</code></em></p>

        <br />

        <h3>Task 2: Create a custom report which lists all “prime” students.</h3>
        <p>Prime students are ones whose age is a <a href="https://en.wikipedia.org/wiki/Prime_number" target="_blank">prime number</a>.</p>

        <br />

        <h3>Task 3: Add validation to the student form.</h3>
        <p>Require the student's age to be a “prime” number, as above.</p>

        <br />

        <h3>Task 4: Enhance the Students report.</h3>
        <ul>
            <li>Add the ability to sort on all displayed [non-action] fields. <code>(e.g. First Name, Age)</code></li>
            <li>Allow the user to select the number of results (per page) to display from a dropdown. <code>(e.g. 3, 5, 10)</code></li>
            <li>Allow the user to search across all displayed fields (as opposed to just name). <code>(e.g. search by name, enrollment date, or age)</code></li>
            <li><em>(Bonus: Turn the search field into an auto-complete field.)</em></li>
        </ul>

        <br />

        <h3>Task 5: Append the “prime” students report to the existing Students report.</h3>
        <p>“Attach” the previously-created “prime” students report to the existing Students report <em>(while leaving it functioning in it's existing stand-alone capacity)</em>.</p>
    </div>
</div>